<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".Register" />
        <activity android:name=".LogIn" />
        <activity android:name=".ChatAct" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".changeStatus"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".AllUsers"
            android:parentActivityName=".SettingsActivity" />
        <activity android:name=".all_users" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".ChatPage"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>